Unattended-Upgrade::Origins-Pattern {
    "o=Debian,n=buster";
    "o=Debian,n=buster-updates";
    "o=Debian,n=buster-security";
    "o=Debian,n=buster-backports";
};

Unattended-Upgrade::Automatic-Reboot "true";

